<!-- Inventory Display -->
<table class="table">
  <thead>
    <tr>
      <th>Tea</th>
      <th>Information</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="itemFromRepeat in list.inventory" item-attribute="itemFromRepeat">
      <td><img src="{{itemFromRepeat.imageUrl}}" alt="{{itemFromRepeat.name}}"></td>
      <td>
        <h3 class="itemTitle">{{itemFromRepeat.name}}</h3>
        <p><span class="itemTitle">Price:</span> {{itemFromRepeat.price / 100 | currency}}</p>
        <p><span class="itemTitle">Caffeine Scale:</span> {{itemFromRepeat.caffeineScale}}</p>
        <p><span class="itemTitle">Ingredients:</span> {{itemFromRepeat.ingredients}}</p>
        <p><span class="itemTitle">Rating:</span> {{itemFromRepeat.rating}}</p>
        <p><span class="itemTitle">In Stock:</span> {{itemFromRepeat.inStock | yesNo}}</p> 
        <p>
          <span class="itemTitle">Categories:</span> 
          <ul>
            <li ng-repeat="category in itemFromRepeat.categories">{{category}}</li>
          </ul>
        </p>
      </td>
    </tr>
  </tbody>
</table>