<!-- Inventory Filtering--> 
  <!-- Search - Category -->
  <!-- Search - Name -->

<div class="row">
  <div class="col-md-4">
    <category-filtering></category-filtering>
  </div>
  <div class="col-md-4">
    <search-filtering></search-filtering>
  </div>
  <div class="col-md-2 col-md-offset-2">
    <a class="btn btn-success" href="/checkout" role="button">Checkout</a>
  </div>
</div>
<!-- Inventory View -->
  <!-- Table structure -->
  <!-- Custom directive for a row -->
<inventory-list></inventory-list>
